<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Jam List</title>
  <script src='/vendor/jquery/dist/jquery.min.js'></script>
  <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/static/javascript/app.js'></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- <div class='row'> -->
        <div class='col-md-2'>
          <div class="navbar-header">
            <a class="navbar-brand" id="nav-title" href="#">
              <strong>The Jam List</strong>
            </a>
          </div>
        </div>
        <div class='col-md-4'>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Find Song</button>
          </form>
        </div>
        <div class='col-md-4'>
          <% if (message) %>
          <div class="alert alert-success text-center"><%= message %></div>
        </div>
        <div class='col-md-2'>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id='nav-dropdown' data-toggle="dropdown" role="button" aria-expanded="false"><%= user %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="sign-out"><a href="javascript:;">Sign out</a></li>
                <li class="divider"></li>
                <li><a href="#">Edit profile</a></li>
              </ul>
            </li>
          </ul>
        </div>
     <!--  </div> -->
    </div> <!-- container -->
  </nav>

  <div class="container">
    <div class="col-md-6">

      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
          <a href="#songs-tab" aria-controls="songs-tab"
              role="tab" data-toggle="tab">
            Songs
          </a>
        </li>

        <li role="presentation">
          <a href="#setlists" aria-controls="setlists"
              role="tab" data-toggle="tab">
            Setlists
          </a>
        </li>

      </ul>

       <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="songs-tab">

          <form class='form-inline' style='margin-top: 20px'>
            <div class='form-group'>
              <label for="new-song-title">Title: </label>
              <input type="text" class='form-control' id='new-song-title'
                placeholder='song title'>
              <label for="new-song-artist"> Artist: </label>
              <input type="text" class='form-control' id='new-song-artist'
                placeholder='song artist'>
              <button id='song-submit' class='btn btn-default'>
                <span class='glyphicon glyphicon-plus'</span>
              </button>
            </div>
          </form>

          <ul id='songs-list'>

          </ul>

        </div>

        <div role="tabpanel" class="tab-pane" id="setlists">

        </div>

      </div>

    </div>  <!-- col-md-6 -->

    <div class="col-md-6">

      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
          <a href="#lyrics" aria-controls="lyrics" role="tab" data-toggle="tab">
            Lyrics
          </a>
        </li>

        <li role="presentation">
          <a href="#chords" aria-controls="chords" role="tab" data-toggle="tab">
            Chords
          </a>
        </li>

        <li role="presentation">
          <a href="#chords" aria-controls="spotify" role="tab" data-toggle="tab">
            Spotify
          </a>
        </li>

      </ul>

      <div role="tabpanel" class="tab-pane" id="lyrics">
      </div>

      <div role="tabpanel" class="tab-pane" id="chords">
      </div>

      <div role="tabpanel" class="tab-pane" id="spotify">
      </div>

    </div>  <!-- col-md-6 -->

  </div>  <!-- container -->

</body>
</html>