<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src='/vendor/jquery/dist/jquery.min.js'></script>
  <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/vendor/bootstrap-validator/dist/validator.min.js'></script>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/style-main.css">
</head>
<body class="container">

  <div id="login-box"
       class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2"
       style="margin-top:50px;">
    <div class="panel panel-info">
      <div id="login-heading" class="panel-heading">
        <div class="panel-title">The Jam List</div>
        <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
      </div>
      <div class="panel-body" style="padding-top:30px">
        <div id="login-alert" class="alert alert-danger col-sm-12"
             style="display:none">
        </div>
        <form id="login-form"
              action='/login' method='post'
              role='form' data-toggle='validator'>
          <div class="form-group" style="margin-bottom: 25px">
            <div class='input-group'>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input type='email' id="login-user" class="form-control"
                     name="user[email]"
                     placeholder="email address" autofocus required
                     data-error='valid email required'>
            </div>
            <span class="help-block with-errors"></span>
          </div>
          <div class="form-group" style="margin-bottom: 25px">
            <div class='input-group'>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>

              <input type="password" id="login-password" class="form-control"
                     name="user[password]"
                     placeholder="password" required
                     data-error='password required'>
            </div>
            <span class="help-block with-errors"></span>
          </div>
          <!--  <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
              </label>
            </div>
          </div> -->
          <div class="form-group" style="margin-top:10px" >
            <!-- Button -->
            <div class="text-right">
              <!-- <a id="btn-login" href="#" class="btn btn-success">Login  </a> -->
              <button class="btn btn-primary" type='submit'>Sign in</button>
              <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->
            </div>
          </div>
          <div class="form-group">
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
              Don't have an account?
              <a href="/signup">
                Sign up here
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>

