.navbar,
.navbar-header > a,
.nav > li.dropdown > a,
.nav > li.dropdown.open > a,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open > ul.dropdown-menu > li > a:hover {
  background-color: #286090;
  color: white;
}

/*.alert {
  display: none;
  margin-bottom: 0px;
}

.panel {
  border-color: #27556C
}
.panel-info>.panel-heading {
  border-color: grey;
}*/

.panel-title {
  font-size: 20px;
}

.help-block {
  color: #a94442;
}

/*
.panel-heading {
  background-image: linear-gradient(to bottom, #8CADBD 0, #27556C 100%);
}

#login-box {
  border-color: #27556C
}

#login-heading {
  color: white;
  background-color: #27556C
}*/

